/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main 
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header1 {
  font-weight: bold;
  font-size: large;
  display: block;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 1rem;
  top: 100%;
  right: 0;
  left: 0;
  margin: 0;
}

.countrygarden {
  text-align: center;
}

.favicon {
  display: none;
  flex-wrap: wrap;
  image-resolution: 0px;
  top: 0;
  left: 0;
}

#burger-button {
  display: block;
  background-color: grey;
  font-size: 1.25rem;
  width: 15%;
  position: fixed;
  top: 0;
  right: 0;
  left: center;


}

.burger-button {
  display: block;
  padding: left 12rem;
}

#main-nav-list {
  display: none;
  list-style: none;
  font-size: larger;

}

#main-nav-list.toggled {
  display: block;
}

.homeimg {
  padding-bottom: 1rem;
  image-resolution: 100%;
}

.ccgarden {
  display: flex;
  font-size: larger;
  align-items: center;
  padding-top: 2rem;
  padding-left: 1rem;
}

.countrygarden {
  display: flex;
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.75rem;
  margin-bottom: auto;
}

.landscape {
  display: flex;
  text-align: center;
  padding-top: 2rem;
  padding-left: 1rem;
}

.landp {
  display: flex;
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.75rem;
}

.pond {
  display: flex;
  text-align: center;
  padding-top: 1rem;
  padding-left: 1rem;
}

.pondimg {
  display: block;

}

.pondp {
  display: flex;
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.75rem;
  margin-bottom: auto;
}

.rockery {
  display: flex;
  text-align: center;
  padding-top: 1rem;
  padding-left: 1rem;
}

.rockeryp {
  display: flex;
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.75rem;
  margin-bottom: auto;
}

.landscapefoot {
  display: flex;
  padding-top: 3rem;
  left: 0;
}

.garden {
  display: flex;
  text-align: center;
  padding-top: 1rem;
  padding-left: 1rem;
}

.gardenp {
  display: flex;
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.75rem;
  margin-bottom: auto;
}

table,
th,
td {
  border: 1px solid;
  align-tracks: center;

}

td {

  vertical-align: middle;
}

.headapply {
  font-size: large;
}

.emails {
  display: flex;
  flex-wrap: wrap;
  left: 0;
  right: 0;

  left: auto;
}

.formmain {
  padding-left: 1rem;
  padding-right: 1rem;
}

.field1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.createrfoot {
  padding-top: 3rem;
  margin: 0;
}

@media (min-width: 50em) {
  .header1 {
    font-weight: bold;
    font-size: large;
    display: block;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0rem;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  #burger-button {
    display: none;
  }

  #main-nav-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: auto;
    padding: 0rem 1rem 0 1;
    justify-content: center;
    color: rgb(0, 0, 0);
  }

  #main-nav-list li {
    padding: 1rem;
    background-color: rgb(142, 216, 23);
  }

  .galleryimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  h4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .paddingtop {
    padding-top: 4rem;
  }

  .top {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    justify-content: space-evenly;
    align-items: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: auto;
  }

  .grid2x3 {
    align-content: space-around;
  }

  .pondp {
    grid-column: 2/2;
    grid-row: 1;
  }
.grid{
  justify-content: center;
}
  .lower-rockery {
    grid-column:2;
    grid-row: 2/2;
    
  }

  .gardenp {
    grid-column: 2/2;
    grid-row: 3;
  }
  .gardenp{
    padding-top: 7.5rem;
  }
  .rockeryp{
    padding-top: 5rem;
  }
  .pondp{
    padding-top: 6.5rem;
  }
  .landp{
    padding-left: 25rem;
    padding-right: 25rem;
  }
  .landscape{ 
    padding-left: 25rem;
  padding-right: 25rem;
  padding-top: 6rem;
  }
  .landscapefoot{
    justify-content: center;
  }
.ccgarden{
  justify-content: center;
  padding-top: 6rem;
}
.homeimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.countrygarden{
  justify-content: center;
  padding-left: 25rem;
  padding-right: 25rem;
}
.video1{
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  width: 100%;
  height: 800px;
}

.headapply{
  display: block;
  justify-content: center;
}

form{
  margin-left: 25%;
  margin-right:25%;
  width: 50%;
}
.site {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.site{
  display: flex;
  justify-content: center;
}

table{
  display: flex;
  justify-content:space-around;
  border: 0;
}
table td{
padding: 1rem;
}

.contacts{
 justify-content: center;   
}

.createrfoot{
 display: flex;
 justify-content: center; 
padding-left: 30rem;
padding-right: 30rem;
}
}

.contacts{
  justify-content: center;   
 }
.homeimg {
  image-resolution: auto;
}

a {
  border: 1rem;
}

a:visited {
  color: blue;

}

a:hover {
  color: rgb(62, 0, 128);
}

a:focus {
  color: rgb(62, 0, 128);
}

a:active {
  color: rgb(62, 0, 128);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(74, 74, 74);
  background-color: rgb(255, 255, 255);
}