/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	background-color: lightblue;
	margin: auto;
}

nav ul{
	display:flex;
	flex-wrap: wrap;
justify-content: space-evenly;
text-decoration: none;
}

h1{
	text-transform: capitalize;
} ,
h2,
h3,
h4,
h5,
h6 {
	
}

p {
	
}


/* Elements
--------------------------------------------- */
ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a {
	
}

a:visited {
	
}

a:hover {
	
}

a:focus {
	
}

a:active {
	
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
header{ 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: lightskyblue;
	padding: 1rem;
	font-size: large;
	font-style: bold;
	text-align: center;
	margin-top: auto;
}
.header{background-color: lightskyblue;}
/* Main
--------------------------------------------- */


/* Footer
--------------------------------------------- */
