/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	background-color: lightblue;
	margin: auto;
}

nav ul{
	list-style-type: none;
	display: flex;
	padding: 1rem;
}
@media (min-width: 50em) {

nav {
		display: none;
	}
	.navigation-menu {
		flex: 1 1 auto;
		padding:0 1rem;
		justify-content: center;
		color: lightskyblue;
	}}
nav li{
	padding: 1rem;
	justify-content: center;
}
h1{
	padding: 2rem;
	text-size-adjust: 1.5rem;
	justify-content: center;
	text-justify:auto;
}

h2{
	font-family: Arial, Helvetica, sans-serif;
	text-size-adjust: 1.5rem;
	justify-content: center;
	text-justify:auto;
};
/*h3,
h4,
h5,
h6 {
	
}
*/
p {
font-family: Georgia, 'Times New Roman', Times, serif;
line-height: 1.6rem;
font-size: 1.5em;
}


/* Elements
--------------------------------------------- */
.projects{ 
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin: 0;
	padding: 0;
}
.projects li {
	list-style-type: none;
	justify-content: space-evenly;
	margin: 0;
	padding: 1rem;
	justify-content: center;
}
/*
ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links

--------------------------------------------- */

a {
border: 1rem;	
}

a:visited {
	color: blue;
	
}

a:hover {
	color: blueviolet;
}

a:focus {
	color: blueviolet;
}

a:active {
	color: green;
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
header{ 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: lightskyblue;
	padding: 1rem;
	font-size: large;
	font-weight: bold;
	margin-top: auto;
}

/* Main
--------------------------------------------- */
.iris{
	height:max-content;
	max-width: 100%;
	image-resolution: 512px 512px;
	padding: 1rem;
}

section{
	margin: 0;
	padding: 0 ;
justify-content: left ;
}
p{
	line-height: 1.5rem;
	
}

.aboutme{
	padding-left: 1rem;
	padding-right: 1rem;
}
/* Footer
--------------------------------------------- */

div.construction {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}